$bg-natural-fade: #f7f7f7;
$fg-base-subtle: #17253d;
$primary: #0078d4;

:root {
  --bg-natural-fade: #f7f7f7;
  --fg-base-subtle: #17253d;
}

@font-face {
  font-family: "Fluent Icons";
  src: url(../assets/fonts/Icons.woff2) format("woff2");
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
  font-weight: 700;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 12px;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: "SegoeUI", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  background: $bg-natural-fade;
  color: $fg-base-subtle;
}

// Utility Classes
.container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: normal;
  width: 100%;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
}

.fluent-icon {
  font-family: "Fluent Icons" !important;
}

.glyph {
  font-family: "Fluent Icons";
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}

// Components
.title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
}

.title-sm {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
}

.title-md {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
}

.title-lg {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.075rem;
}

.title-xl {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.05em;
}

.subtle {
  margin-bottom: 0.75rem;
  color: #17253d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.spacer {
  width: 100%;
  height: 2rem;
}

.spacer-sm {
  width: 100%;
  height: 1.5rem;
}

.space-on-top {
  margin-top: 1.62rem;
}

.link {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &.link-line {
    padding-bottom: 0.125rem;
    text-decoration: underline;
    text-decoration-line: underline;
    text-underline-offset: 0.125rem;
  }
}

.icon-link {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  .action-btn {
    flex-grow: 1;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: 35px;
  }

  .link {
    padding-bottom: 0.125rem;
    color: #004275;
    margin-top: 0 !important;
  }
}

.card-padding {
  padding: 1rem;
  background: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
    0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
}

/* Heade - START */

header {
  background: #ffffff;
}

.header-top {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: "SegoeUI", sans-serif;
}

.nav-menu-btn {
  margin: 1px;
  width: 48px;
  height: 48px;

  i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 5px;
  }
}

.nav-search-btn {
  // left: 1px;
  padding: 8px 8px 8px 0px;
  margin-left: 2px;
  height: 32px;
  margin-right: 6px;
  line-height: 18px;

  i {
    font-size: 16px;
    margin-left: 7px;
    line-height: 18px;
    margin-top: -0.5px;
  }
}

.ms-logo {
  padding: 12px 4px;
  margin-left: 12px;
  margin-top: 2px;

  img {
    margin-top: -3px;
    width: 108px;
    max-width: none;
    height: auto;
  }
}

.category-selector {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  height: 34px;

  .inner-container {
    margin: 0 1px;
    color: #000;
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    width: fit-content;

    button {
      font-weight: 600;
      font-size: 15px;
      margin-top: 6.5px;
    }
    i {
      font-size: 12px;
      font-weight: 700;
      padding-left: 7px;
      margin-top: -0.5px;
      position: relative;
      top: 2px;
    }
  }
}
/* Header - END */

/* Hero - START */
main {
  padding-bottom: 3.5rem;
  margin-bottom: 0.5rem;
  background-color: #f4fafd;
}

.hero-banner {
  width: 100%;
  height: 180px;
  max-height: 580px;

  img {
    width: 100%;
    height: 100%;
  }
}

.hero-text-container {
  .inner-container {
    margin-top: 2rem;
  }
}

.hero-subtle {
  margin-bottom: 0.75rem;
  color: #17253d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.hero-title {
  color: #0e1726;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
}

.hero-description {
  color: #17253d;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  padding-right: 1rem;
}

.hero-actions-container {
  margin-top: 1.5rem;

  .inner-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.btn {
  border: 2px solid transparent;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  background-color: $primary;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;

  span {
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
  }
}

.btn-md {
  padding: 0.5rem 0.75rem;
}

.btn-secondary {
  background: transparent;
  color: #004275;
  border-color: #17253d;
}

.icon-btn {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 35px;
}

/* Hero - END */

/* Sticky Header - START */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 500;

  .inner-container {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fefefe;
    box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
      0 0.063rem 0.125rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
  }

  .indicator {
    width: 100%;
    height: 0.25rem;
    background: #004275;
  }
}

.header-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.chevron-container {
  color: #0078d4;
  font-size: 0.7rem;
  margin-right: 2px;

  i {
    line-height: 1;
  }
}
/* Sticky Header - END */

/* Featured Section - START */
.featured-section {
  background: #f4fafd;
  padding: 3.5rem 0;
  position: relative;
}

.bg-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.featured-content {
  position: relative;
  z-index: 50;
}

.feature-cards {
  padding: 0 0.25rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  row-gap: 0.5rem;
}

.feature-card {
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
    0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
  background: #fefefe;
  border-radius: 1rem;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  word-wrap: break-word;

  .figure {
    padding: 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
    height: auto;
    display: flex;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      aspect-ratio: 2.33333;
    }
  }

  .content-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      gap: 0.75rem;

      h3 {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5rem;
        letter-spacing: -0.03em;
        margin-top: 0.25rem;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.03em;
        color: #17253d;
      }
    }

    .footer {
      margin-top: 2rem;

      a {
        color: #004275;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        .action-btn {
          flex-grow: 1;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          height: 35px;
        }

        .link {
          padding-bottom: 0.125rem;
          color: #004275;
        }
      }
    }
  }

  // &:first-child {
  //   .content-container .footer a .action-btn {
  //     height: 36px;
  //   }
  // }
}

/* Featured Section - END */

/* Solutions - START */

.solutions-section {
  padding: 3.5rem 1rem;
  background: #f4fafd;
}

.tab-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  // position: relative;
}

.tab-group {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
}

.tab-arrows {
  color: #004275;

  button {
    background: linear-gradient(
      270deg,
      #f4fafd 25%,
      rgba(255, 255, 255, 0.7) 100%
    );
    border: 2px solid #004275;
    border-radius: 12.5rem;
    width: calc((0.5rem * 2) + 1.5rem);
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 10;

    &.right {
      right: 0;
    }
  }
}

.pill-btn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 12.5rem;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  z-index: 1;
  margin-right: 0.5rem;
  // padding-bottom: 0.125rem;
  font-weight: 600;
  font-size: 0.9375rem;
  height: 40px;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  background-color: rgba(0, 85, 151, 0.1);
  color: #004275;

  &.active {
    background-color: #005597;
    color: #fff;
  }
}

.tab-content-container {
  margin-top: 1.5rem;
}

.accordian-group {
  list-style-type: none;
  margin-top: 1.5rem;

  li {
    border-bottom: 0.0625rem solid #bdc5d2;
  }
}

.accordian-item {
  button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    h3 {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: -0.03em;
      text-align: left;
    }

    i {
      font-size: 1rem;
      line-height: 1.5625rem;
    }
  }

  &:first-child button {
    padding-top: 0;
  }
}

.accordian-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: 1.5rem;

  .link {
    margin-bottom: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.125rem;
    padding-bottom: 0.125rem;
  }

  .media {
    display: flex;
    position: relative;
    width: fit-content;
    max-width: 100%;
    border-radius: 1rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }

    .media-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0.875rem;
      height: 48px;
      width: 47.7px;
      font-size: 1rem;
    }
  }
}
/* Solutions - END */

/* Products and Services - START */
.products-section {
  position: relative;
  padding: 3.5rem 0;

  .container {
    position: relative;
    z-index: 50;
  }

  .col {
    row-gap: 0.75rem;
  }
}

.image-card {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
    0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));

  .safe-area {
    width: 100%;
    height: 220px;
  }

  .card-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-fg {
    position: relative;
    z-index: 50;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h3 {
      margin-top: 0.25rem;
      color: #0e1726;
    }
  }
}

.badge-card {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .badge {
      width: 3rem;
      height: 3rem;
      background: #fefefe;
      border-radius: 0.5rem;
      border: 0.0625rem #e6f2fb solid;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        max-width: 24px;
        max-height: 24px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .link {
      margin-top: calc(2rem - 0.75rem);
    }

    .action-footer {
      margin-top: 2rem;
    }
  }
}
/* Products and Services - END */

/* Blog - START */
.blog-section {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.blog-card {
  padding: 0;
  border: 0.0625rem solid #e6f2fb;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 50;

  .body {
    display: flex;
    flex-direction: column;

    .content-container {
      display: flex;
      flex-direction: column;
      padding: 1rem calc(1rem - 4px);
      gap: 2rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      h2 {
        margin-top: 0.25rem;
      }
    }
  }

  .img-header {
    padding: 0.5rem 0.5rem 0;
    border-radius: 0.5rem;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      aspect-ratio: 1.33333;
    }
  }
}
/* Blog - END */

/* Resources - START */
.resources-header {
  position: relative;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;

  .title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .title,
  .subtle {
    text-align: center;
  }
}

.resources-section {
  .tab-group {
    padding: 0.5rem 0.5rem 0.5rem 0.38rem;
    // padding-left: 0.25rem;
  }

  .inner-container {
    position: relative;
    padding: 0 1rem;

    .bg-img-container {
      top: 4rem;
    }
  }
}

.tab-group.solid {
  a {
    text-decoration: none;
    color: #0e1726;

    &:first-child .tab-item {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    &:last-child .tab-item {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &.active {
      .indicator {
        opacity: 1;
      }
    }
  }

  .tab-item {
    position: relative;
    background: #fefefe;
    padding: 0.75rem 1rem 1rem 1rem;
    width: calc(1328px / 6);
    height: 100%;
    border-right: rgb(189, 197, 210) solid 1px;
    overflow: hidden;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
      0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);

    .tab-item-content {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.03em;
    }

    .indicator {
      position: absolute;
      height: 0.25rem;
      width: 100%;
      background: #004275;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }
  }
}

.tab-arrows-v2 {
  position: relative;
  z-index: 50;
  display: flex;
  gap: 0.75rem;
  margin-left: -0.235rem;

  button {
    border: 2px solid #004275;
    border-radius: 12.5rem;
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
    color: #004275;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    &.prev {
      opacity: 0.2;
    }
  }

  &.xl {
    button {
      font-size: 1.25rem;
      padding: calc(0.75rem + 1px) calc(0.75rem + 2px) calc(0.75rem + 1px)
        0.75rem;
      width: auto;
      height: auto;
    }
  }
}

.resources-content {
  position: relative;
  z-index: 50;
  padding-top: 1.65rem;
  padding-bottom: 3rem;

  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
    }
  }
}

.glass-frame {
  padding: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
  backdrop-filter: blur(1.125rem);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  display: flex;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    aspect-ratio: 1.77778;
  }
}
/* Resources - END */

/* Infrastructure - START */
.infra-section {
  color: #dceefe;
  padding: 3.5rem 0;
  background-image: url("../assets/images/earth.avif");
  background-position: center;
  background-size: cover;

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;

    h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.05em;
    }

    p {
      margin: 1rem 0 0;
      padding: 0 1rem;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.75rem;
      letter-spacing: -0.03em;
    }

    .btn {
      background-color: #b3daf0;
      width: 100%;
      color: #0e1726;
    }
  }
}
/* Infrastructure - END */

/* Stories - START */
.stories-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .tab-arrows-v2 {
    margin-left: 0;
    gap: 0.5rem;
    margin-top: -0.5rem;
    // margin-top: 0.5rem;
  }
}

.section-content {
  position: relative;
  z-index: 50;
}

.carousel-window {
  // margin-bottom: 82px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousels {
  margin: auto;
  width: auto;
  flex-wrap: nowrap;
  display: flex;
  column-gap: 0.75rem;
  row-gap: 0.5rem;
}

.story-card-container {
  height: 731.93px;
  padding: 0.1875rem;
  scroll-snap-align: start;
  white-space: normal;
  flex: 0 0 calc(calc(100% - calc(7.5rem * (1 - 1))) / 1);
  border-radius: 1rem;
  overflow: hidden;
  .story-card {
    overflow: hidden;
    position: relative;
    display: flex;
    min-width: 1px;
    word-break: break-word;
    height: 100%;
    background: #fefefe;
    border-radius: 1rem;
    flex-wrap: wrap;
    box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
      0 0.25rem 0.5rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));

    .img-header {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      height: 219.68px;
      padding: 0 0.25rem;
      padding-inline: 0.5rem;
      padding-block: 0.5rem 0;
      position: relative;
      display: flex;

      img {
        width: 100%;
        height: 219.68px;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .body {
      display: flex;
      gap: 1.5rem;
      padding: 1rem;
      height: auto;
      flex-direction: column;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;

      .quote {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .quote-image {
          border: 0.0625rem solid #bdc5d2;
          border-radius: 0.5rem;
          overflow: hidden;
          width: 175px;
          height: 76px;

          img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: auto;
          }
        }

        .quote-text {
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 1.75rem;
          letter-spacing: -0.05em;
        }
      }

      .footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .btn {
          margin-top: 1.6rem;
        }
      }

      .products-container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 4px;

        .label {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: -0.03em;
        }

        .products {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0.5rem;
          flex-wrap: wrap;

          ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0.75rem;

            li {
              flex-basis: auto;
              display: flex;
              align-items: center;
              column-gap: 0.5rem;

              .icon-container {
                width: 100%;
                height: 100%;
                max-width: 20px;
                max-height: 20px;
                margin-top: 2px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .product-link {
                color: #0067b8;
                font-weight: 600;
                font-size: 0.875rem;
                line-height: 1.25rem;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
/* Stories - END */

/* Steps - START */
.steps-section {
  padding-top: 3.49rem;
  padding-bottom: 3.5rem;
  position: relative;

  .container {
    z-index: 50;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.steps-cards {
  margin-top: 1.5rem;
  gap: 0.5rem;
}
.no-gap {
  gap: 0 !important;
}
/* Steps - END */

/* Socials - START */
.socials-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .inner-container {
    display: flex;
    padding: 0.5rem 0.75rem;
    // padding-left: 0.25rem;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.app-btn {
  background-color: #e6e6e6;
  margin-bottom: 0.5rem;
  margin-left: -0.5rem;
  border: 2px solid transparent;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  text-decoration: none;
  border-radius: 0.2rem;
  color: #000;

  span {
    display: flex;

    img {
      margin-right: 0.5rem;
      max-width: 100%;
      height: auto;
      width: 24px;
      aspect-ratio: auto 1;
      line-height: 0.375rem;
    }
  }
}

.socials-container {
  margin-left: 0.75rem;

  ul {
    vertical-align: middle;
    margin: 0.1rem 0;
    display: flex;

    li {
      margin-right: 0.75rem;
      display: flex;

      a {
        text-decoration: none;
        display: flex;

        img {
          width: 24px;
          height: 24px;
          aspect-ratio: auto 1;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
/* Socials - END */
