:root {
  --bg-natural-fade: #f7f7f7;
  --fg-base-subtle: #17253d;
}

@font-face {
  font-family: "Fluent Icons";
  src: url(../assets/fonts/Icons.woff2) format("woff2");
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
  font-weight: 700;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 12px;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: "SegoeUI", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  background: #f7f7f7;
  color: #17253d;
}

.container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.spacer {
  width: 100%;
  height: 2rem;
}

/* Heade - START */
header {
  background: #ffffff;
}

.header-top {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: "SegoeUI", sans-serif;
}

.nav-menu-btn {
  margin: 1px;
  width: 48px;
  height: 48px;
}
.nav-menu-btn i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 15px;
  margin-top: 5px;
}

.nav-search-btn {
  padding: 8px 8px 8px 0px;
  margin-left: 2px;
  height: 32px;
  margin-right: 6px;
  line-height: 18px;
}
.nav-search-btn i {
  font-size: 16px;
  margin-left: 7px;
  line-height: 18px;
  margin-top: -0.5px;
}

.ms-logo {
  padding: 12px 4px;
  margin-left: 12px;
  margin-top: 2px;
}
.ms-logo img {
  margin-top: -3px;
  width: 108px;
  max-width: none;
  height: auto;
}

.category-selector {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  height: 34px;
}
.category-selector .inner-container {
  margin: 0 1px;
  color: #000;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.category-selector .inner-container button {
  font-weight: 600;
  font-size: 15px;
  margin-top: 6.5px;
}
.category-selector .inner-container i {
  font-size: 12px;
  font-weight: 700;
  padding-left: 7px;
  margin-top: -0.5px;
  position: relative;
  top: 2px;
}

/* Header - END */
/* Hero - START */
main {
  padding-bottom: 3.5rem;
  margin-bottom: 0.5rem;
  background-color: #f4fafd;
}

.hero-banner {
  width: 100%;
  height: 180px;
  max-height: 580px;
}
.hero-banner img {
  width: 100%;
  height: 100%;
}

.hero-text-container .inner-container {
  margin-top: 2rem;
}

.hero-subtle {
  margin-bottom: 0.75rem;
  color: #17253d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.hero-title {
  color: #0e1726;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
}

.hero-description {
  color: #17253d;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  padding-right: 1rem;
}

.hero-actions-container {
  margin-top: 1.5rem;
}
.hero-actions-container .inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  border: 2px solid transparent;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  background-color: #0078d4;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn span {
  padding-bottom: 0.125rem;
  display: block;
  text-align: center;
}

.btn-secondary {
  background: transparent;
  color: #004275;
  border-color: #17253d;
}

/* Hero - END */
/* Sticky Header - START */
.sticky-header {
  position: sticky;
  z-index: 500;
}
.sticky-header .inner-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)), 0 0.063rem 0.125rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
}
.sticky-header .indicator {
  width: 100%;
  height: 0.25rem;
  background: #004275;
}

.header-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.chevron-container {
  color: #0078d4;
  font-size: 0.7rem;
  margin-right: 2px;
}
.chevron-container i {
  line-height: 1;
}

/* Sticky Header - END *//*# sourceMappingURL=index.css.map */