:root {
  --bg-natural-fade: #f7f7f7;
  --fg-base-subtle: #17253d;
}

@font-face {
  font-family: "Fluent Icons";
  src: url(../assets/fonts/Icons.woff2) format("woff2");
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
  font-weight: 700;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 12px;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: "SegoeUI", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  background: #f7f7f7;
  color: #17253d;
}

.container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: normal;
  width: 100%;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
}

.fluent-icon {
  font-family: "Fluent Icons" !important;
}

.glyph {
  font-family: "Fluent Icons";
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
}

.subtle {
  margin-bottom: 0.75rem;
  color: #17253d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.spacer {
  width: 100%;
  height: 2rem;
}

.spacer-sm {
  width: 100%;
  height: 1.5rem;
}

.link {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-link {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-link .action-btn {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 35px;
}
.icon-link .link {
  padding-bottom: 0.125rem;
  color: #004275;
}

/* Heade - START */
header {
  background: #ffffff;
}

.header-top {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: "SegoeUI", sans-serif;
}

.nav-menu-btn {
  margin: 1px;
  width: 48px;
  height: 48px;
}
.nav-menu-btn i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 15px;
  margin-top: 5px;
}

.nav-search-btn {
  padding: 8px 8px 8px 0px;
  margin-left: 2px;
  height: 32px;
  margin-right: 6px;
  line-height: 18px;
}
.nav-search-btn i {
  font-size: 16px;
  margin-left: 7px;
  line-height: 18px;
  margin-top: -0.5px;
}

.ms-logo {
  padding: 12px 4px;
  margin-left: 12px;
  margin-top: 2px;
}
.ms-logo img {
  margin-top: -3px;
  width: 108px;
  max-width: none;
  height: auto;
}

.category-selector {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  height: 34px;
}
.category-selector .inner-container {
  margin: 0 1px;
  color: #000;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.category-selector .inner-container button {
  font-weight: 600;
  font-size: 15px;
  margin-top: 6.5px;
}
.category-selector .inner-container i {
  font-size: 12px;
  font-weight: 700;
  padding-left: 7px;
  margin-top: -0.5px;
  position: relative;
  top: 2px;
}

/* Header - END */
/* Hero - START */
main {
  padding-bottom: 3.5rem;
  margin-bottom: 0.5rem;
  background-color: #f4fafd;
}

.hero-banner {
  width: 100%;
  height: 180px;
  max-height: 580px;
}
.hero-banner img {
  width: 100%;
  height: 100%;
}

.hero-text-container .inner-container {
  margin-top: 2rem;
}

.hero-subtle {
  margin-bottom: 0.75rem;
  color: #17253d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
}

.hero-title {
  color: #0e1726;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
}

.hero-description {
  color: #17253d;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  padding-right: 1rem;
}

.hero-actions-container {
  margin-top: 1.5rem;
}
.hero-actions-container .inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  border: 2px solid transparent;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  background-color: #0078d4;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn span {
  padding-bottom: 0.125rem;
  display: block;
  text-align: center;
}

.btn-secondary {
  background: transparent;
  color: #004275;
  border-color: #17253d;
}

.icon-btn {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 35px;
}

/* Hero - END */
/* Sticky Header - START */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 500;
}
.sticky-header .inner-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)), 0 0.063rem 0.125rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
}
.sticky-header .indicator {
  width: 100%;
  height: 0.25rem;
  background: #004275;
}

.header-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.chevron-container {
  color: #0078d4;
  font-size: 0.7rem;
  margin-right: 2px;
}
.chevron-container i {
  line-height: 1;
}

/* Sticky Header - END */
/* Featured Section - START */
.featured-section {
  background: #f4fafd;
  padding: 3.5rem 0;
  position: relative;
}

.bg-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: hidden;
}
.bg-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.featured-content {
  position: relative;
  z-index: 50;
}

.feature-cards {
  padding: 0 0.25rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 0.5rem;
}

.feature-card {
  box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)), 0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
  background: #fefefe;
  border-radius: 1rem;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  word-wrap: break-word;
}
.feature-card .figure {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  height: auto;
  display: flex;
}
.feature-card .figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  aspect-ratio: 2.33333;
}
.feature-card .content-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}
.feature-card .content-container .content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 0.75rem;
}
.feature-card .content-container .content h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  margin-top: 0.25rem;
}
.feature-card .content-container .content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #17253d;
}
.feature-card .content-container .footer {
  margin-top: 2rem;
}
.feature-card .content-container .footer a {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.feature-card .content-container .footer a .action-btn {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 35px;
}
.feature-card .content-container .footer a .link {
  padding-bottom: 0.125rem;
  color: #004275;
}

/* Featured Section - END */
/* Solutions - START */
.solutions-section {
  padding: 3.5rem 1rem;
  background: #f4fafd;
}

.tab-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.tab-group {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
}

.tab-arrows {
  color: #004275;
}
.tab-arrows button {
  background: linear-gradient(270deg, #f4fafd 25%, rgba(255, 255, 255, 0.7) 100%);
  border: 2px solid #004275;
  border-radius: 12.5rem;
  width: 2.5rem;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
}
.tab-arrows button.right {
  right: 0;
}

.pill-btn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 12.5rem;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  z-index: 1;
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 0.9375rem;
  height: 40px;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  background-color: rgba(0, 85, 151, 0.1);
  color: #004275;
}
.pill-btn.active {
  background-color: #005597;
  color: #fff;
}

.tab-content-container {
  margin-top: 1.5rem;
}

.accordian-group {
  list-style-type: none;
  margin-top: 1.5rem;
}
.accordian-group li {
  border-bottom: 0.0625rem solid #bdc5d2;
}

.accordian-item button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.accordian-item button h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  text-align: left;
}
.accordian-item button i {
  font-size: 1rem;
  line-height: 1.5625rem;
}
.accordian-item:first-child button {
  padding-top: 0;
}

.accordian-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: 1.5rem;
}
.accordian-content .link {
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  padding-bottom: 0.125rem;
}
.accordian-content .media {
  display: flex;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  border-radius: 1rem;
}
.accordian-content .media img {
  width: 100%;
  border-radius: 1rem;
}
.accordian-content .media .media-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.875rem;
  height: 48px;
  width: 47.7px;
  font-size: 1rem;
}

/* Solutions - END *//*# sourceMappingURL=index.css.map */