$bg-natural-fade: #f7f7f7;
$fg-base-subtle: #17253d;

:root {
  --bg-natural-fade: #f7f7f7;
  --fg-base-subtle: #17253d;
}

@font-face {
  font-family: "Fluent Icons";
  src: url(../assets/fonts/Icons.woff2) format("woff2");
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
  font-weight: 700;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 12px;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: "SegoeUI", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  background: $bg-natural-fade;
  color: $fg-base-subtle;
}

/* Heade - START */

header {
  background: #ffffff;
}

.header-top {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.nav-menu-btn {
  margin: 1px;
  width: 48px;
  height: 48px;

  i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 5px;
  }
}

.nav-search-btn {
  // left: 1px;
  padding: 8px 8px 8px 0px;
  margin-left: 2px;
  height: 32px;
  margin-right: 6px;
  line-height: 18px;

  i {
    font-size: 16px;
    margin-left: 7px;
    line-height: 18px;
    margin-top: -0.5px;
  }
}

.ms-logo {
  padding: 12px 4px;
  margin-left: 12px;
  margin-top: 2px;

  img {
    margin-top: -3px;
    width: 108px;
    max-width: none;
    height: auto;
  }
}

.category-selector {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  height: 34px;

  .inner-container {
    color: #000;
    height: 100%;
    margin: 0 1px;
    padding: 0 15px;
    cursor: pointer;

    button {
      font-weight: 600;
    }
  }

  i {
    font-size: 12px;
    font-weight: 700;
    padding-left: 7px;
    line-height: 18px;
    margin-top: -0.5px;
  }
}
/* Header - END */
